*{
    margin: 0;
    padding: 0;
}
.logo{
    object-fit: cover;
    width: 150px;
    height: 100px;
  }
nav{
    background: #f4c5bc;
}
.container{
    max-width: 1200px;
    min-width: 600px;
    margin: 15px auto;
}
.grid_8_4{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 15px;
    /* grid-template-rows: 80% auto 20%; */
}
#products >div{
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        grid-column-gap:1%;
        grid-row-gap:15px;
        grid-template-rows:auto; 
}