*{
  margin: 0 ;
  padding: 0 ;
}
.nav_el li{
  list-style-type: none;
  width: 20%; 
  margin: 0; 
  display: inline-block;
}
.nav_el {
  z-index: 999;
  height: 100%;
  text-decoration: none;
  color: #000;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: .2s all linear;
}
.nav_el:hover{
  background: #fcd3ce;
}
.nav_elements{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 40px;
}
.slider{

}
.aws-sld{
  height: 350px !important;
}
.aws-sld__wrapper{
  border-radius: 5px;
}