.product_card_img{
    border-radius: 5px 5px 0 0;
    background-size: 100% 100% !important;
    height: 200px;
    width: 100%;
    background-position:center !important;
    transition: all .15s linear;
}
.product_card:hover >.product_card_img{
    background-size: 110% 110% !important;
} 
.cardblock{
    margin-bottom: 15px;
}
.card{
    border-radius: 5px;
}
/* .product_card{
    max-width: 200px;
    min-width: 150px;
    height: 200px;
    display: inline-block;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    padding-bottom: 10px;
}

.product_card_price{
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
}
.product_card_name{
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}
*/